* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.header-container {
  text-align: center;
}
.no-favorite {
  text-align: center;
  display: none;
  margin-top: 50px;
}

.search-liked-coins-container {
  width: 25%;
  border: 1px solid;
  outline: none;
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin: 20px auto;
}

.search-liked-coins-container input {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
