* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #351818;
}

.nav-left a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  color: #df4824;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.nav-button {
  background-color: #df4824;
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: all 0.3s;
}

.nav-button:hover {
  background-color: white;
  color: #df4824;
}

.search-container {
  display: flex;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.search-container input {
  border: none;
  outline: none;
  margin-top: 5px;
}

.search-container i {
  color: #df4824;
  margin-right: 5px;
  margin-top: 5px;
}

.search-container i:hover {
  cursor: pointer;
}

.search-box {
  position: absolute;
  top: 28px;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  display: none;
}

.search-box h3 {
  display: inline;
  margin-left: 10px;
  margin-right: 25px;
}

.search-box li {
  list-style: none;
  display: flex;
  align-items: center;
  border: 1px solid #c9c3c3;
  border-bottom: none;
}

.search-box li:last-child {
  border-bottom: 1px solid #c9c3c3;
}
.search-box li:hover {
  background-color: #f1ecec;
}

.search-box img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 50%;
}

table {
  width: 100%;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #c9c3c3;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #f1ecec;
}

td:hover {
  cursor: pointer;
}

.prev-next-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.prev-next-container button {
  background-color: #df4824;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.prev-next-container button:hover {
  cursor: pointer;
}

#sort-price-asc,
#sort-price-desc,
#sort-vol-asc,
#sort-vol-desc,
#sort-market-cap-asc,
#sort-market-cap-desc:hover {
  cursor: pointer;
}

.favorite-icon {
  cursor: pointer;
}

.favorite {
  color: gold;
}

.shimmer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Slightly less transparent for better contrast */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none; /* Initially hidden */
}

.shimmer {
  width: 90%;
  height: 80px; /* Adjust height for a more compact look */
  background: linear-gradient(-45deg, #bababa 25%, #eae6e6 50%, #e0e0e0 75%);
  background-size: 400% 400%;
  animation: shimmerAnimation 1.8s infinite linear;
  border-radius: 12px; /* More rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

footer {
  text-align: center;
  color: var(--muted);
  margin: 30px 0;
  font-size: 14px;
}
